<div class="container-fluid scroll_section">
    <div id="home" class="row align-items-center hero scroll_section">
        <div class="col-lg-3 offset-lg-2">
            <p>Bajada</p>
            <h1>Cervecería X</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sint animi consectetur nemo iste!
                Voluptas ea necessitatibus placeat, explicabo, magni assumenda, eligendi repudiandae asperiores
                soluta dolorum corporis ipsum dicta ab.</p>
        </div>
    </div>
    <div class="row my-3 scroll_section">
        <div id="productos" class="col-md-5 offset-md-2 py-3 scroll_section">
            <h2>Productos</h2>
            <ul class="lista-productos">
                <li>Cervezas</li>
                <li>Coctelería</li>
                <li>Hamburguesas</li>
                <li>Entradas</li>
                <li>Merchandising</li>

            </ul>
        </div>

        <div class="row my-3 scroll_section">

            <div id="historia" class="row align-items-center py-5 scroll_section">
                <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block scroll_section">
                    <img src="/images/historia_1.jpg" alt="historia1" class="img-fluid">
                </div>
                <div class="col-lg-2 col-md-3 d-none d-sm-block scroll_section">
                    <img src="/images/historia_2.jpg" alt="historia2" class="img-fluid">
                </div>
                <div class="col-12 d-sm-none scroll_section">
                    <img src="/images/historia_3.jpg" alt="historia3" class="img-fluid">
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-sm-0 scroll_section">
                    <h2>Historia</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In dolor omnis, inventore enim
                        cum
                        blanditiis dolorum quos reiciendis suscipit exercitationem iure nihil aut velit,
                        recusandae
                        consequuntur ad laborum porro itaque?</p>
                </div>
                <div id="conocenos" class="row py-4 scroll_section">
                    <div class="col-md-4 offset-md-2 scroll_section">
                        <h2>Visitanos</h2>
                        <div class="mapa scroll_section">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.2194085942674!2d-58.422296285027315!3d-34.5986129647345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca62d4cf1563%3A0x686de505d84c67e6!2sAv.%20Medrano%20951%2C%20C1179AAQ%20CABA!5e0!3m2!1ses-419!2sar!4v1665537180492!5m2!1ses-419!2sar"></iframe>
                        </div>
                    </div>
                </div>
                <div id="contacto" class="col-md-4 mt-4 mt-sm-0 scroll_section">
                    <h2>Contactanos</h2>
                    <form class="row g-3">
                        <div class="col-md-6 action='/' method='post' scroll_section">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre">
                        </div>
                        <div class="col-md-6 scroll_section">
                            <label for="apellido" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="apellido" name="apellido">
                        </div>
                        <div class="col-12 scroll_section">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="email@example.com" name="email">
                        </div>
                        <div class="col-12 scroll_section">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <input type="text" class="form-control" id="telefono" placeholder="colocar número de área" name="telefono">
                        </div>
                        <div class="col-12 scroll_section">
                            <label for="mensaje" class="form-label">Mensaje</label>
                            <textarea class="form-control" id="mensaje" rows="3" name="mensaje">

                              </textarea>
                        </div>
                        <div class="col-12 scroll_section">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>
                    <p>{{message}}</p>
                </div>

                <div id="novedades" class="col-md-5 offset-md-2 py-3 scroll_section">
                    <h2>Novedades</h2>
                    <ul class="lista-novedades">
                        <li><a href="#" data-bs-toggle="modal" data-bs-target="exampleModal"><img
                                    src="/images/novedades01.jpg">Nuevas cervezas</li>
                        <li><a href="#" data-bs-toggle="modal" data-bs-target="exampleModal"><img
                                    src="/images/hamburguesa1.jpg">Nuevas hamburguesas</li>
                        <li><a href="#" data-bs-toggle="modal" data-bs-target="exampleModal"><img
                                    src="/images/novedades01.jpg">Nuevas entradas</li>
                        <li><a href="#" data-bs-toggle="modal" data-bs-target="exampleModal"><img
                                    src="/images/novedades01.jpg">Nuevas recetas</li>
                        <li><a href="#" data-bs-toggle="modal" data-bs-target="exampleModal"><img
                                    src="/images/novedades01.jpg">Nuevas recetas</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>